@page "/"
<PageTitle>Chip8</PageTitle>
<FluentStack Orientation="Orientation.Vertical">
    <InputFile OnChange="LoadFiles" multiple />
    <FluentStack>
        <FluentButton OnClick="OnClickStart" Disabled="StartDisabled">Start</FluentButton>
        <FluentButton OnClick="OnClickPauseGo" Disabled="PauseGoDisabled">Pause/Go</FluentButton>
        <FluentButton OnClick="OnClickStep" Disabled="StepDisabled">Step</FluentButton>
    </FluentStack>
</FluentStack>
<FluentAccordion>
    <FluentAccordionItem Heading="Program counter">
        Program counter: @ProgramCounter
    </FluentAccordionItem>
    <FluentAccordionItem Heading="Registers">
        <p>IRegister: @string.Format("0x{0}",@IRegister.ToString("x2"))</p>
        <FluentStack Orientation="Orientation.Vertical">
            @for (int i = 0; i < @Registers.Length; i++)
            {
                int registerValue = @Registers[i];
                <p>@(i + 1):@string.Format("0x{0}",@registerValue.ToString("x2"))</p>
            }
        </FluentStack>
    </FluentAccordionItem>
    <FluentAccordionItem Heading="Source">
        <FluentCheckbox @bind-Value="@FollowPC" Label="Follow PC" />
        <div style="height: 500px; width: 200px; overflow:auto;">
            @foreach (var instruction in @Instructions)
            {
                string displayInstruction = string.Format("{0} :: {1}", instruction.Address, instruction.Mnemonic);

                if (instruction.Current)
                {
                    <div id="instruction-@instruction.Address"><b>@displayInstruction</b></div>
                }
                else
                {
                    <div id="instruction-@instruction.Address">@displayInstruction</div>
                }
                <br />
            }
        </div>
    </FluentAccordionItem>
</FluentAccordion>
